body{
    font-family: 'Times New Roman', Times, serif;
    background: #f2fedc;
}
header {
    color: black;
    background: #ffc4aa;
    font-size: 35px;
    font-family: sans-serif;
    padding: 25px;
    text-align: left;
    align-items: inline;
}
.inicio{
    text-align: center, right;
    font-family: sans-serif;
    margin-top: 45px;
    font-weight: bold;
}
.inicio p:hover{
    color: #f2fedc;
    font-size: 35px;
    transition: 0.8s;
    cursor: pointer;
}
.inicio a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.caixa{
    text-decoration: none;
    color: black;
    position: relative;
	width: 940px;
	margin: 0 auto;
}
.inicio a:hover{
    color: rgb(129, 52, 230);
    transition: 0.3s;
    font-size: 22px;
}
.principal_clientes, .combo{
    color: #ffc4aa;
    background-color: #f2fedc;
    font-size: 25px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
	width: 44%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	border: 2px solid #ffc4aa;
	border-radius: 10px;
    align-items: center;

}
.principal_clientes{
    text-decoration: none;
}
.principal_clientes:hover{
    transition: 0.3s;
    font-size: 30px;
    border-color: rgb(129, 52, 230);
    color: rgb(129, 52, 230);
    cursor: pointer;
}
.combo:hover{
    transition: 0.3s;
    font-size: 30px;
    border-color: rgb(129, 52, 230);
    color: rgb(129, 52, 230);
    cursor: pointer;
}
.atendimento:hover{
    transition: 0.3s;
    font-size: 30px;
    border-color: rgb(129, 52, 230);
    color: rgb(129, 52, 230);
    cursor: pointer;
}

.principal{
    margin-top: relative ;
    text-align: right;
    color: #ffc4aa;
    font-size: 25px;
}
.atendimento{
    font-size: 25px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    box-sizing: border-box;
    color: #ffc4aa;
    box-sizing: border-box;
    display: inline-block;
	width: 90%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	border: 2px solid #ffc4aa;
	border-radius: 10px;
    margin-top: 20px;
}
.logo{
    width: 300px;
    padding: 20px 0;
   align-items: right;
   margin-left: 1500px;
   margin-top: -190px;
}
.home{
    text-align: right;
    color: black;
    background: #ffc4aa;
    font-family: 'Times New Roman', Times, serif;
}
.rodape{
    background: #ffc4aa;
    font-family: sans-serif;
    padding: 20px;
    text-align: center;
	padding: 40px 0;
}
.rodape p{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}
.rodape a:hover{
    transition: 0.3s;
    color: rgb(129, 52, 230);
    font-size: 17px;
}
.rodape a {
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
}
.salao{
    width: 700px;
    margin-right: 70%;
}
.desconto:hover{
    color: red;
    font-size: 23px;
    transition: 0.6s;
   cursor: pointer;
}
